<!DOCTYPE html>
<html>
<head>
  <title>InstaApi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/materialize/css/materialize.css" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="/app/assets/stylesheets/materialize/js/materialize.min.js"></script>
      <%= javascript_include_tag 'materialize', 'data-turbolinks-track' => true %>
</head>
<body>

<%= yield %>

</body>
</html>
