<!DOCTYPE html>
<html>
<head>
  <title>InstaApi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/materialize/css/materialize.css" />
<link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/headerfooter.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/app/assets/stylesheets/materialize/js/materialize.min.js"></script>
<%= javascript_include_tag 'materialize', 'data-turbolinks-track' => true %>

</head>
<body>

<div id="indexnav" class="row nav-class blue darken-3">
<div class="container">
    <div class="col s12 m1 l1 offset-by-2" id="logo"><%= image_tag("map-icon.png", :alt => "map-icon") %></div>
    <h4 class="col s12 m9 grey-text text-lighten-5">What's Good in the Neighborhood?</h4>
</div>
</div>
<%= yield %>
<footer id="indexfooter" class="page-footer blue darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">What's Good in the Neighborhood</h5>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 By <a class="grey-text text-lighten-3" href="https://github.com/mermatriarchy/insta-api/tree/master">Team Mermatriarchs</a> for WDI Shortstack
            </div>
          </div>
  </footer>
</body>
</html>
