
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<a href='https://api.instagram.com/oauth/authorize/?client_id=<%=@id%>&redirect_uri=<%=@red%>&response_type=token'>Log In</a>
<input type='hidden' id="access_token_for_js" value="<%= @access_token_js %>">


